h5,h6{
    margin: 0;
}
.menucontainer{
    max-width: 100% !important;
}
.abcmenucard{
    margin: 10px 20px 0px 17px;
    box-sizing: border-box;
    padding: 5px;
    background: #fafafa;
    .abcitem-bar{
        background: #fefefe;
        padding: 5px 0;
        width: auto;
        box-sizing: border-box;
        background: #f2f2f2;
        .abcitem{
            padding: 0 2px;
            h5{
                font-size: 16px;
                font-weight: bold;
            }
        }
        .abcitem:nth-of-type(1){
            h5{
                text-align:left;
            }
        }
        .abcitem:nth-of-type(2){
            padding: 0;
            h5{
                text-align:center;
            }
        }
        .abcitem:nth-of-type(3){
            h5{
                text-align:right;
            }
        }
    }
    .abcaddon-bar{
        border-bottom: 1px solid #e6e6e6;
        .abcaddon{
            display: flex;
            align-items: center;
            padding: 0 2px;
            h6{
                font-size: 14px;
                font-weight: bold;
                label{
                    min-width: 15px;
                }
            }
        }
        .abcaddon:nth-of-type(1){
            h6{
                font-weight: bold;
            }
        }
        .abcaddon:nth-of-type(2){
            text-align: center;
            padding: 0;
            h6{ 
                width: 100%;
            }
        }
        .abcaddon:nth-of-type(3){
            padding:0;
            padding-right: 5px;
            text-align: center;
            button{
                padding: 0px;
                margin: 5px 5px 5px 0px;
                width: 100%;
                
            }
        }
    }
    .abcaddon-bar:nth-of-type(4){
        border-bottom: none;
    }
    .abcbutton-bar{
        margin-top: 5px;
        .abcbutton{
            padding: 0px 3px;
            button{
                width: 100%;
            }
        }
    }
}
