$w : rgb(224, 224, 224);
$none : rgba(0,0,0,0);
$primary: #21b0c9;
// #749f01;
$text:  #646464;
$white: #fff;
$brd-grey: #e6e6e6;
// #bbbbbb;
$secondary : #3b656c;

.custom-box{
    background:#fff;
    border-top: none;
    // .tabshead{
    //     background: #fff;
    //     // box-shadow: 0px 4px 10px #A3A3A3;
    //     position: relative;
    //     z-index: 1;
    //     .ttab{
    //         border-bottom: 3px solid #e6e6e6;
    //     }
    //     .active{
    //         border-bottom: 2px solid #749f01 !important;
    //     }
    // }
    .tabs{
        .inner-tabscon{
            // .inner-tabshead{
            //     background: #fff;
            //     // box-shadow: 0px 4px 10px #A3A3A3;
            //     position: relative;
            //     z-index: 2;

            //     .inner-ttab{
            //         // border-bottom: 2px solid $none;
            //         border-bottom: 3px solid #e6e6e6;
            //     }
            //     .active{
            //         border-bottom: 2px solid #749f01 !important;
            //     }
            // }
            .all-orders, .orders-filtered{
               .orderbox{
                   height: auto;
                   border: 2px solid $none;
                   padding-bottom: 0px;
                //    box-shadow:  0px 3px 10px #A3A3A3;
                   border: 1px solid #e6e6e6;
                   background: #f7f7f7;
                    .order-content{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 1em;
                        .userid{
                            text-align: left;
                            width:50%;  
                            p.order-id{
                                font-size: 16px;
                                padding: 5px;
                            }
                            p.eta{
                                font-size: 12px;
                                color: #8a91b4;
                                font-weight: 300;
                                padding: 5px;
                                color: $text;
                            }
                            p.date{
                                font-size: 12px;
                                color: #8a91b4;
                                font-weight: 300;
                                padding: 5px;
                                color: #646464 !important;
                            }
                        }
                        .userprice{
                            text-align: right;
                            width: 50%;
                           div{
                            display: flex;
                            justify-content: flex-end;
                            .price{
                                max-width: min-content;
                                color: $white;
                                background: $primary;
                                padding: 4px 6px;
                                border-radius:5px;
                                padding: 5px;
                            }
                           }
                            .worklogo{
                                padding: 5px;
                                float: none;
                                color:$text;
                                margin: 9px 0 0 0;
                            }
                        }
                    }
                    .underlined{
                        border-top: 1px solid $text;
                        width:100%;
                        div{
                            color:$text;
                            margin: 5px 10px;
                            display: flex;
                            justify-content: space-between;
                            .order-id{
                                font-weight: 600;
                            }

                        }
                    }

                }
               .shadow-danger{
                border: 1px solid #e6e6e6;
               }

            }
        }
    }
}
p.date{
    font-size: 12px;
    color: #8a91b4;
    font-weight: 300;
    padding: 5px;
    color: #646464 !important;
}
.order-id{
    font-weight: 600;
}
.orders-filtered{
    .orderbox{
        height: auto;
        border: 2px solid $none;
        padding-bottom: 0px;
     //    box-shadow:  0px 3px 10px #A3A3A3;
        border: 1px solid #e6e6e6;
        background: #f7f7f7;
         .order-content{
             display: flex;
             justify-content: space-between;
             margin-bottom: 1em;
             .userid{
                 text-align: left;
                 width:50%;  
                 p.order-id{
                     font-size: 16px;
                     padding: 5px;
                 }
                 p.eta{
                     font-size: 12px;
                     color: #8a91b4;
                     font-weight: 300;
                     padding: 5px;
                     color: $text;
                 }
             }
             .userprice{
                 text-align: right;
                 width: 50%;
                div{
                 display: flex;
                 justify-content: right;
                 .price{
                     max-width: min-content;
                     color: $white;
                     background: $primary;
                     padding: 4px 6px;
                     border-radius:5px;
                     padding: 5px;
                 }
                }
                 .worklogo{
                     padding: 5px;
                     float: none;
                     color:$text;
                     margin: 9px 0 0 0;
                 }
             }
         }
         .underlined{
             border-top: 1px solid $text;
             width:100%;
             div{
                 color:$text;
                 margin: 5px 10px;
                 display: flex;
                 justify-content: space-between;

             }
         }

     }
    .shadow-danger{
        border: 2px solid $none;
    }

 }


.tabshead{
    padding-top:0;
    background: $secondary;
    border: none;
    .ttab{
        display: flex;
        justify-content: center;
        padding: 10px 0 10px 0;
        // border-bottom: 3px solid $brd-grey;
        transition: background 0.4s ease-out;
        i{
            color: $white;
          
            span{
                border: 1px solid $secondary;
                color: rgb(199, 5, 5);
                background: $white;
            }
        }
        i:before{
            font-size: 20px;
        }
    }
    .ttab:nth-of-type(1){
        span{
            top: -3px;
            left: 100%;
        }
    }
    .ttab:nth-of-type(2){
        span{
            top: -3px;
            left: 70%;
        }
    }
    .ttab:nth-of-type(3){
        span{
            top: -3px;
            left: 60%;
        }
    }
    .active{
        border-bottom: 0px solid $none;
        // border-top: 3px solid $primary;
        background: $white;
        i{
            color: $primary !important;
            span{
                border: 1px solid $none;
                background: rgb(199, 5, 5);
                color: $white;
            }
               
        }
        
    }
}
.b-icon{
    height: auto;
}

.inner-tabshead{
    border-bottom: 1px solid $brd-grey;
    .inner-ttab{
        border-bottom: 3px solid #e6e6e6;
        padding: 10px 0 10px 0;
        transition: all 0.4s ease-out;
    }
    .inner-ttab:nth-of-type(1){
        border-top: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
    }
    .inner-ttab:nth-of-type(2){
        border-top: 1px solid #f7f7f7;
        border-right: 1px solid #e6e6e6;
    }
    .inner-ttab:nth-of-type(3){
        border-top: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
    }
    .inner-ttab:nth-of-type(4){
        border-top: 1px solid #e6e6e6;
    }

    .active{
        border-bottom: 3px solid $primary;
        i{
            color: $primary !important;
        }
    }
    i::before{
        margin-left: 0px;
        font-size:20px;
    }
}
.second{
    padding-top: 0px;
    padding:0px;
    border-top: none;
    .custom-menu{
        .tabshead{
            display: flex;
            justify-content: center;
        }
    }
    .menu-box{
        margin-top: 15px;
    }
}
$small: "only screen and (max-width : 1315px)";
.order-container{
    .third-subbox{
        text-align: right;
        min-width:103px;
        margin: 15px 7px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-flow: column;
        min-height: 87px;
        margin-top:0px;
        p.thirdname{
            padding: 0;
            text-align: right;
        }
    }
}
@media #{$small}{
    .order-container{
        .third-subbox{
            flex-flow: column-reverse;
            min-height: 0;
            .thirdname{
                margin-top: 5px;
            }
            .thirdprice{
                margin-top: 5px;
            }
        }
    }
}
.abcitem{
    padding:0 2px;
    h5{
        font-size:16px;
    }
}
.abcitem:nth-of-type(2){
    padding: 0;
}
.abcaddon{
    padding: 0 2px;
    h6{
        font-size:14px;
        font-weight: bold;
    }
}
.abcaddon:nth-of-type(2){
    padding: 0
}